{% load static %}
<!-- navbar -->
<div class="navmaster">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img class="mb-4" src="{% static 'static/img/logo.png' %}" alt="" width="72" height="57">
        <a class="navbar-brand" id="navbarLogo" href="#">Mo tisak</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
            <a class="nav-link" href="{% url 'index'%}">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'store'%}">Shop</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'gallery'%}">Gallery</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'about'%}">About us</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'cart'%}">Cart</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'login'%}">Log in</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'register'%}">Register</a>
            </li>
        </ul>
        </div>
    </nav>
</div>
