{% load static %}
<section id="top-bar" class="p-3">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <i class="fas fa-phone"></i> (230)-555-5555
        </div>
        <div class="col-md-4">
          <i class="fas fa-envelope-open"></i> contact@motisak.mu
        </div>
        <div class="col-md-4">
          <div class="social text-right">
            {% comment %} <a href="#">
              <i class="fab fa-twitter"></i>
            </a> {% endcomment %}
            <a href="https://www.facebook.com/mo.tisak.338">
              <i class="fab fa-facebook"></i>
            </a>
            {% comment %} <a href="#">
              <i class="fab fa-linkedin"></i>
            </a> {% endcomment %}
            <a href="https://www.instagram.com/mo.tisak/?hl=en">
              <i class="fab fa-instagram"></i>
            </a>
            {% comment %} <a href="#">
              <i class="fab fa-pinterest"></i>
            </a> {% endcomment %}
          </div>
        </div>
      </div>
    </div>
  </section>