header{
    font-family: "Poppins", sans-serif;
    color: #444444;
    background-color: #e7e3d6;

}
h2{
    padding-top: 20px;
    text-align: center;
    font-size: 50px;
}
body{
    background-color: #e7e3d6;

}